<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>TODO write content</div>
    </body>
    
    <header th:fragment="header">
        <h1>Techshop</h1>
    </header>
    
    <Footer th:fragment="footer">
        <p style="text-align: center">&COPY; Derechos reservados </p>
    </Footer>
</html>
