<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
@SpringBootApplication
<HTML xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        <div class="contenido">
       
       
        <h2>[Informacion de articulos</h2>
        <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
        <div th:if="${articulos !=null and !articulos.empty}">
        
        <table border ="1">
            <thead>
            <tr>
              <th>Descripcion</th>
              <th>Precio</th>
              <th> Existencias </th>
              <th> Activo</th>
              <th> Credito</th>
              <th> Eliminar</th>
              <th> Modificar</th>
                  </tr>
                  </thead> 
                  <tbody>
                  <tr th:each="articulo: ${articulos}"> 
                      <td>[[${articulo.descripcion}]]</td>
                      <td style"text-align: right">[[${#numbers.formatDecimal(articulo.precio3,2)}]]</td>
                      <td style"text-align: center">[[${articulo.existencias}]]</td>
                      <td style"text-align: center"><input type="checkbox" name="activo" th:checked="${articulo.activo" disabled="true"/></td>
                      <td style"text-align: right">[[${#numbers.formatDecimal(articulo.credito.limite,3,2)}]]</td>
                      <td><a th:href="@{/articulo/modificar/} +${articulo.idArticulo}">Modificar</a></td>
                      <td><a th:href="@{/articulo/eliminar} +${articulo.idArticulo}">Eliminar</a></td>
                  </tr>
                  </body>
                
        </table>
    </div>
           </div>
          <div th:if="${articulos==null or articulos.empty}">
          <h2>No hay articulos que mostrar</h2>
        
        </div> 
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
