<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
@SpringBootApplication
<HTML xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th: replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Datos de Articulo  </h2>
      
        <a th:href="@{/articulo/listado}">Regresar</a>
          <hr/>
            <form th:action="@{/articulo/guardar}"
                method="post"
                th:object="${articulo}">
                
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"> 
                    <fieldset>
                <label for="nombre">Descripcion</label> 
                <input type="text " name="nombre" th:field="*{descipcion}"/>
                </fieldset>
                
                    <fieldset>
                <label for="detalle">Detalle</label> 
                <textarea name="detalle " th:field="*{detalle}" rows="6" cols="50"/>
                </fieldset>
                
                    <fieldset>
                <label for="precio">Correo</label> 
                <input type="email " name="correo" th:field="*{correo}"/>
                </fieldset>
                
                <label for="telefono">Precio</label> 
                <input type="number" name="precio" th:field="*{precio}"/>
                </fieldset>
                
                <fieldset>
                  <label for="existencias">Existencias</label> 
                <input type="number" name="Existencias" th:field="*{Existencias}"/>
               </fieldset> 
                
                <fieldset>
                <label for="activo">Activo</label> 
                <input type="checkbox" name="Activo" th:field="*{activo}"/>
                </fieldset>
                
                <input type ="submit" name="guardar" value="Guardar"/>
                
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
