<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
@SpringBootApplication
<HTML xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th: replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>[[#{cliente.datos}]]</h2>
      
        <a th:href="@{/cliente/listado}">[[#{accion.regresar}]]</a>
          <hr/>
            <form th:action="@{/cliente/guardar}"
                method="post"
                th:object="${cliente}">
                
                <input type="hidden" name="idCliente" th:field="*{idCliente}"> 
                    <input type="hidden" name="idCredito" th:field="*{idCredito}"> 
                        
                <label for="nombre">[[#{cliente.nombre}]]</label> 
                <input type="text " name="nombre" th:field="*{nombre}"/>
                <br/> 
                
                <label for="apellidos">[[#{accion.apellidos}]]</label> 
                <input type="text " name="apellidos" th:field="*{apellidos}"/>
                <br/> 
                
                <label for="correo">[[#{accion.correo}]]</label> 
                <input type="email " name="correo" th:field="*{correo}"/>
                <br/> 
                
                <label for="telefono">[[#{accion.telefono}]]</label> 
                <input type="tel " name="telefono" th:field="*{telefono}"/>
                <br/> 
                
                  <label for="limite">[[#{cliente.limite}]]</label> 
                <input type="number" name="limite" th:field="*{credito.limite}"/>
                <br/> 
                
                <button  type ="submit" th:text="#{accion.guardar}"/>
                <input type ="submit" name="guardar" value="Guardar"/>
                
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
