<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
@SpringBootApplication
<HTML xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        <div class="contenido" 
       
       
        <h2>Nuestros articulos</h2>
     
        <div th:if="${articulos !=null and !articulos.empty}">
        
        <table border ="1">
            <thead>
            <tr>
              <th>Descripcion </th>
              <th>Precio</th>
                  </tr>
                  </thead> 
                  <tbody>
                  <tr th:each="articulo: ${articulos}"> 
                      <td>[[${articulo.descripcion}]]</td>
                      <td style"text-align: right">[[${#numbers.formatDecimal(articulo.precio,3,2)}]]</td>
                      <td><a th:href ="@{/carrito/agregar/} + ${articulo.idArticulo}">Agregar</a></td>
                  </tr>
                  </body>
                
        </table>
    </div>
          <div th:if="${articulos ==null or articulos.empty}">
          <h2>No hay articulos que mostrar</h2>
        
        </div> 
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
